body {
    background-color: aquamarine;
}
.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px #b76cfd solid;
    margin: 1em;
  }
  
  .header {
    height: 30%;
    background: #b76cfd;
    color: white;
    text-align: left;
  }
  
  .container {
    padding: 2px 16px;
  }
  #results
  {
    display: flex;
    flex-direction:row;
  }
  .search
  {
    border: 1px #b76cfd solid;
    padding-bottom: 1em;
    margin: 1em;
  }

  @media (max-width: 1000px) {
    #results {
      flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .header {
        height: 100%;
    }
  }